*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    height: 100vh;
    background-color: yellow;
}
.main{
    background-color: aqua;
    height: 90vh;
}
.child{
    background-color: red;
}